bandit==1.4.0
coverage==4.5.1
coveralls==1.2.0
isort==4.2.15
pydocstyle==2.0.0
pylint==2.7.0
pytest==3.2.2
pytest-cov==2.5.1
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
